*{  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content{
    flex: 1 1 auto;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
 }
 .content__item{
    width: 352px;
    height: 375px;
    border-radius: 12px;
    background-color:#FFFFFF;
    box-shadow:  0px 4px 30px 0px rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .shadow {
    box-shadow:  0px 4px 30px 0px rgba(67, 116, 229, 0.4);
}
 .content__item-img{
    height: 72px;
    width: 72px;
    margin-top: 48px;
    background-image: url("../../IMG/arrow_grey.png ");
    background-repeat: no-repeat;
 }
 .content__item-img-blue{
    height: 72px;
    width: 72px;
    margin-top: 48px;
    background-image: url("../../IMG/arrow_blue.png");
    background-repeat: no-repeat;
 }
 .content__item-h2{
    margin-top: 32px;
    font-weight:700;
    font-size: 32px;
    line-height: 39.01px;
 }
 .content__item-p{
    margin-top: 16px;
    font-weight:400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
 }

 
 @media screen and (max-width: 768px) {
    .content{
       margin-right:  16px;
       margin-left:  16px;
    }
 }
 @media screen and (max-width: 570px) {
   
    .content{
     flex-direction: column;
     justify-content: center;
     align-items:center;
     gap:24px;
     margin-top: 40px;
    }
    .content__item{
     width: 343px;
     height: 397px;
 }
}